.input {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  width: 250px;
  margin-right: 25px;
}
.btn,
.btn:hover {
  background-color: white;
  color: black;
  border: 1.4px solid black;
  border-radius: 2px;
  margin-right: 25px;
}
.btn2,
.btn2:hover {
  background-color: black;
  color: white;
}
